<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658303131080-830gkhb6ng27r0vf7lesqi5vu2rjp6qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658303131080-830gkhb6ng27r0vf7lesqi5vu2rjp6qm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdxABJrKJoJKdx7_uIEh1ytMhZaUtMkmM</string>
	<key>GCM_SENDER_ID</key>
	<string>658303131080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appquiztestev2</string>
	<key>PROJECT_ID</key>
	<string>app-quizz-fatec-rp</string>
	<key>STORAGE_BUCKET</key>
	<string>app-quizz-fatec-rp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658303131080:ios:ca7ab17eed1334d7e574fd</string>
</dict>
</plist>